.bg-blue {
    background: $blue !important;
}
.blue {
    color: $blue !important;
}
.bg-green {
    background: $green !important;
}
.green {
    color: $green !important;
}
.bg-red {
    background: $red !important;
}
.red {
    color: $red !important;
}
